body{
    background-color: #7ae2dd;
}

h1{
    text-align: center;
    text-shadow: 0cqmin;
    color:#3841be9d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}